nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    width: 100vw;
    width: 100dvw;

    background-color: var(--color-black);

    @media (width < 600px) {
        height: 3.5rem;
    }
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    height: 100%;

    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        height: 100%;

        @media (width < 1000px) {
            display: none;
        }
    }

    &__item {
        display: inline-block;

        position: relative;

        height: 100%;

        &:hover .nav__dropdown {
            display: block;
        }
    }

    &__link {
        display: block;
        text-align: center;

        padding: 1.5rem 2.5rem;

        position: relative;

        color: var(--color-white);
        
        font-weight: 500;
        font-family: "Oswald", serif;

        &:hover {
            color: var(--color-orange);
        }
    }

    &__dropdown {
        display: none;

        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        position: absolute;
        z-index: 200;

        background-color: var(--color-black);

        &-item {
            display: block;
        }

        &-link {
            display: block;

            padding: 0.5rem 2rem;

            color: var(--color-white);

            font-family: "Oswald", serif;

            &:hover {
                color: var(--color-orange);
            }
        }
    }

    .button {
        @media (width < 1300px) {
            display: none;
        }
    }
}
